.blogCardStyle img {
    max-height: 150px;
    object-fit: contain;
}

.blog-card {
    transition: 0.2s linear;
    border-radius: 5px; 
}
.blog-card:hover {
    -webkit-box-shadow: -1px 0px 28px 3px rgba(0,0,0,0.32);
    box-shadow: -1px 0px 28px 3px rgba(0,0,0,0.32);
    transform: scale(1.1);
}